.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--w-color);
}

.header .container {
  @extend %align-template;
}

.logo,
.logo-web {
  font-family: 'Raleway';
  @include font(700, 26px, 1.19, 0.03em);

  color: #000;

  text-decoration: none;
}

.header .logo {
  padding: 20px 0;
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);
}

.nav-menu-list {
  display: flex;
}

.nav-menu-link {
  position: relative;
  display: block;
  padding: 32px 0;
  margin: 0 25px;

  @include font(500, 14px, 1.14, 0.02em);

  color: var(--title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:first-child) {
  margin-left: 30px;
}

.header-contacts-link {
  @extend %align-template;
  padding: 25px 0;

  @include font(500, 14px, 1.14, 0.02em);

  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Fixed Header */

/* 
.header.is-fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  padding-top: 80px;
}
 */
