.section-title,
.features__subtitle,
.team-mmbr,
.poject-title {
  color: var(--title-color);
}

.section-title {
  font-family: inherit;
  @include font(700, 36px, 1.17, 0.03em);

  text-align: center;
  margin-bottom: 50px;
}
